body{
  background-image:url(http://pic44.nipic.com/20140729/7434077_050632143959_2.jpg);
  background-repeat:no-repeat;
  background-position:50% 50%;
  background-color:SkyBlue;
}
p1
{text-shadow: 5px 5px 5px #DC143C;
}
img
{
opacity:0.2;/
}
p{color:red}
